[submodule "PvS sol/exercise-expressioneval"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/exercise-expressioneval
[submodule "PVS_Excercises/sheet-2"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-2
[submodule "PVS_Excercises/sheet-3"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-3
[submodule "PVS_Excercises/sheet-4"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-4
[submodule "PVS_Excercises/sheet-5"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-5
[submodule "PVS_Excercises/sheet-6"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-6
[submodule "PVS_Excercises/sheet-7"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-7
[submodule "PVS_Excercises/sheet-8"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-8
[submodule "PvS sol/sheet-1"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-1
[submodule "PvS sol/sheet-2"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-2
[submodule "PvS sol/sheet-3"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-3
[submodule "PvS sol/sheet-4"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-4
[submodule "PvS sol/sheet-5"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-5
[submodule "PvS sol/sheet-6"]
	url = https://gitlab.uni-ulm.de/oop-ss24/public-solutions/sheet-6